.hero-details {
  height: 100%;
}

.hero-details__title {
  text-transform: capitalize;
}

.hero-details__form {
  font-size: 1.2em;
}

.hero-details__form__input {
  margin-right: 10px;
}

.hero-details__form__clear-btn {
  background-color: transparent;
}

.hero-details__form__submit-btn {
  background-color: #eee;
}

.hero-details__spinner {
  margin: auto;
}

.hero-details__label {
  width: 3em;
  display: inline-block;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
  margin-right: 10px;
}

button {
  background-color: #eee;
}

.hero-details__form__clear-btn:disabled:hover {
  background-color: transparent !important;
  cursor: text;
}

* {
  font-size: 14px;
}
