h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  color: white;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.app__search-box {
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 40px;
  z-index: 2;
}

.app__nav {
  height: 100%;
}

.app__nav__drawer {
  min-width: 200px;
}

.app__nav__link {
  display: block;
  text-align: left;
  padding: 5px 10px;
  border-radius: 0px;
}

.app__nav__link:hover {
  color: gray;
}

.app__content {
  padding: 20px 40px;
}

.app__content__router-outlet {
  height: 50vh;
}
