*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.top-heroes {
  display: flex;
  justify-content: space-between;
}

.top-heroes a  {
  width: 22%;
  height: 100%;
}

.top-heroes__spinner {
  margin: auto;
}

.top-heroes__hero {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.top-heroes__hero__image {
  margin-bottom: 10px;
}
