<section class="heroes">
  <h2>My Heroes</h2>
  <form autocomplete="off" class="heroes__form">
    <mat-form-field class="heroes__form__input" >
      <mat-label>Hero Name</mat-label>
      <input
        #heroName
        matInput
        type="text"
      />
      <button
        aria-label="Clear"
        class="heroes__form__clear-btn"
        (click)="heroName.value=''"
        [disabled]="heroName.value === ''"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon *ngIf="heroName.value">close</mat-icon>
      </button>
    </mat-form-field>
    <button
      class="heroes__form__submit-btn"
      (click)="add(heroName.value); heroName.value=''"
      color="primary"
      [disabled]="heroName.value === ''"
      mat-button
    >
      Add
    </button>
  </form>

  <mat-spinner  *ngIf="loading" class="heroes__list__spinner"></mat-spinner>
  <mat-list *ngIf="!loading" class="heroes__list">
    <mat-list-item
      *ngFor="let hero of heroes"
      class="heroes__list__item"
    >
      <a class="heroes__list__item__link" routerLink="/heroes/{{ hero.id }}">
        <span class="heroes__list__item__badge">{{ hero.id }}</span> {{ hero.name}}
      </a>
      <button
        (click)="openConfirmDialog(hero)"
        color="primary"
        mat-button
        mat-icon-button
        title="Delete hero"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</section>
