.hero-search__title {
  text-transform: capitalize;
}

.hero-search__form {
  font-size: 1.2em;
}

.hero-search__form__input {
  margin-right: 10px !important;
}

.hero-search__form__clear-btn {
  background-color: transparent !important;
}

.hero-search__spinner {
  margin-left: 45px;
}
