.search__box {
  width: 200px;
  height: 20px;
}

ul.search__result {
  margin-top: 0;
  padding-left: 0;
}

.search__result__item {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search__result__item:hover {
  background-color: #607D8B;
}

.search__result__item a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search__result__item a:hover {
  color: white;
}

.search__result__item a:active {
  color: white;
}



